.changeUsername{
    width: 260px;
    position: relative;
    margin-top: 60px;

    form{
        span{
            display: block;
            color: rgba(255,0,0,0.85);
            font-size: 14px;
        }
    
        input{
            width: 100%;
            color: #fff;
            background-color: #1C1C1C;
            border: none;
            padding: 10px;
            font-size: 18px;
            border-radius: 4px;
            outline: none;
        }
    
        svg{
            height: 50%;
            color: #fff;
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            
            button{
                width: 48%;
                height: 28px;
                border: none;
                border-radius: 2px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
            }
        
            .save{
                background-color: #00cc99;
                cursor: pointer;
            }
        
            .cancel{
                background-color: #fe6464;
                cursor: pointer;
            }
        }
    }    
}