.changePicture{
    position: relative;
    color: #fff;
    width: 200px;
    height: 200px;
    margin: 0 auto;

    form{
        label{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 40px;
            height: 40px;
            background-color: #00cc99;
            border-radius: 50%;
            border: 4px solid #111;

            input{
                display: none;
            }

            svg{
                font-size: 20px;
                cursor: pointer;
            }
        }

        img{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            pointer-events: none;
            user-select: none;
        }

        .buttons{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            
            button{
                width: 48%;
                height: 28px;
                border: none;
                border-radius: 2px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
            }
        
            .save{
                background-color: #00cc99;
                cursor: pointer;
            }
        
            .cancel{
                background-color: #fe6464;
                cursor: pointer;
            }
        }
    }
}