.message{
    display: flex;
    margin-top: 12px;
    overflow: hidden;

    &:first-child{
        margin-top: 0;
    }

    img{
        min-width: 50px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .text{
        p:nth-child(1){
            margin-top: 4px;
            color: #fff;
        }

        p:nth-child(2){
            margin-top: 4px;
            color: #ccc;
            word-break: break-word;
        }
    }
}
