.errorPage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;

    .error{
        background-color: #1a1a1a;
        padding: 24px 24px;
        border-radius: 8px;
        box-shadow: 0px 0px 12px 0px #000;
        text-align: center;

        h1{
            color: #fff;
            font-size: 50px;
        }

        p{
            color: #fff;
        }
    }
    
    
}