.formPage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.imageTop{
    width: 500px;
    position: absolute;
    top: -80px;
    left: -160px;
    z-index: -1;
}

.imageBottom{
    width: 650px;
    position: absolute;
    bottom: -120px;
    right: -300px;
    z-index: -1;
}

@media only screen and (min-width: 768px){
    .imageTop{
        width: 800px;
        top: -140px;
        left: -260px;
    }

    .imageBottom{
        width: 950px;
        bottom: -180px;
        right: -400px;
    }
}