.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    padding: 80px 0;
    background-color: #111;
    transition: transform .3s;
    z-index: 2;

    .menuClose{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        svg{
            font-size: 40px;
            color: #fff;
        }
    }
}

.menuOut{
    transform: translateX(-100%);
}

@media only screen and (min-width: 768px){
    .menu{
        width: 420px;
    }

    .menuOut{
        box-shadow: 0 0 14px 0 #000;
    }
}