.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    transition: transform .3s;
    z-index: 2;

    .menuClose{
        position: absolute;
        right: 14px;
        top: 14px;
        width: 30px;
        height: 30px;

        img{
            width: 100%;
        }
    }

    ul{
        list-style-type: none;

        li{
            color: #fff;
            font-size: 32px;
        }
    }
}

.menuOut{
    transform: translateX(-100%);
}