.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 14px;
    background-color: #111;
    box-shadow: 0 0 8px 0 #000;
    z-index: 1;

    .user{
        display: flex;
        align-items: center;

        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        span{
            color: #fff;
            font-size: 18px;
            margin-left: 6px;
        }
    }

    .menuIcon{
        font-size: 30px;
        color: #fff;
    }
}